@model Crane.DATA.EF.Models.Beer

@{
    ViewData["Title"] = "Delete";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h3 class="display-2 text-dark mb-4 animated slideInDown">Delete</h3>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Beers" class="btn btn-primary">Back to List</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<div class="row mb-3">
    <h4 class="text-center mt-3">Are you sure you want to delete @Model.BeerName?</h4>
    <h5 class="text-center mb-3">This will permenantly delete this record and cannot be undone.</h5>
    <dl class="row">
        <div class="offset-4 col-md-4 my-5">
            <div align="center">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BeerName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BeerName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BeerDescription)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BeerDescription)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BeerAbv)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BeerAbv)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IsOnTap)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsOnTap)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BeerImage)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BeerImage)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IsCurrent)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IsCurrent)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BeerType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BeerType.BeerTypeName)
                </dd>
            </div>
        </div>
        <div align="center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="BeerId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> <br /><br />
            </form>
        </div>
    </dl>

    
</div>


