@model IEnumerable<Crane.DATA.EF.Models.Beer>

@{
    ViewData["Title"] = "Our Beers";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-2 text-dark mb-4 animated slideInDown">@ViewData["Title"]</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
@if (User.IsInRole("Admin"))
{
    <p class="text-center mt-5">
        <a asp-action="Create" class="btn btn-primary">Add a New Beer</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerAbv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCurrent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeerDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeerAbv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeerImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCurrent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeerType.BeerTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BeerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BeerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BeerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
