@model Crane.DATA.EF.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDescripton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDescripton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReoccuring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReoccuring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
