@model Crane.DATA.EF.Models.Merch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Merch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchType.MerchName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MerchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
